<li>
  <%= gravatar_for user, size: Settings.avatar_size %>
  <%= link_to user.name, user %>
  <% if admin_signed_in user %>
    | <%= button_to t("delete"), user, method: :delete %>
  <% end %>
</li>
